<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit Person</title>
</head>
<body>
<h1>Edit a User:</h1>

<form action="#" th:action="@{/{id}(id=${user.id})}" th:object="${user}" method="post">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{name}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <input type="submit" value="Update User">

</body>
</html>